@use '../abstract/mixins' as *;
@use '../utils/variables' as *;


.strategies__title {
	margin: 0 0 14px;
}

.strategies__description {
	margin: 0 0 24px;
}

.strategies__tags {
	margin-bottom: 30px;
	@include media-tablet {
		justify-content: center;
	}
}

//strategy
.strategy-wrapper {
	>* {
		margin-bottom: 30px;
		@include media-laptop {
			flex-basis: 48%;
		}
		@include media-mobile {
			flex-basis: 100%;
		}
	}
}

.strategy {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	position: relative;
  overflow: hidden;
  background-color: $color-btn-background;
  border-radius: $spacing-sm;

  
  &:hover {
    scale: (1.05);
  }
  
  img {
    object-fit: cover;
    height: 200px;
  }

	&_hidden {
		display: none;
	}
	@include media-tablet {
		overflow: hidden;
	}
}

.strategy__name {
  @include font(2.2rem, 2.6rem, bold);
	margin: 0 0 29px;
	text-align: left;
	flex-grow: 1;
}

.strategy__content {
	margin: 24px 33px 26px ;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
  @include media-tablet {
    margin: 10px;
  }
}
