//COLORS
$color-primary: #3671E9;
$color-secondary: #229665;
$color-background: #0D0D2B;
$color-text: #cecdf7;
$color-btn-background: #271f53;
$color-tag: black;
$color-tag-colored: #35287f;

//SPACING
$spacing-sm: 10px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 48px;

//WIDTH
$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobie-small-width: 320px;
